html {
  --antd-wave-shadow-color: #AD974F !important;
}


body {
  background-color: #1C1C1C;
  padding: 2%;
  Font-Family: 'Open Sans', Sans-Serif;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h1{
  color: white;
  Font-Family: 'Playfair Display', Serif;
}
.App-link {
  color: #61dafb;
}

.Search-Box {
  display: flex;
  padding: 5%;
  background-color: white;
}

.ant-card {
  width: 100%;
  margin: 0;
}

.ant-card-body {
  text-align: left;
}

.ant-card-head-title {
  Font-Family: 'Raleway', Sans-Serif;
}

.card-author {


}

.card-tags {
  margin-top: .5rem;
}

.ant-tag {
  margin-top: .25rem;
}


/* Margin in results list */
.ez0j50z1 {
  padding: 0!important;
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}

/* margin in selected filters */
.e1nzkzy80 {
  margin-top: .5rem !important;
}

/* Pagination */
.e165j7gc0.active {
  background-color: #8E793E !important;
}

.e165j7gc0 ::selection {
  background: #8E793E !important;
}

.ekqohx90 {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  color: #8E793E;
}

.search-icon {
  fill: #8E793E !important;
}

a:active {
  color: #AD974F;
  outline: #AD974F;
}
